name: '[docker] CI for releases'

on:
    push:
        branches: master

jobs:
    release:
        runs-on: ubuntu-latest
        permissions:
            packages: write
            contents: read
        steps:
        -
            name: Checkout
            uses: actions/checkout@v1
        -
            name: Login to GitHub Container Registry
            run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin
        -
            name: Set up Docker Buildx
            id: buildx
            uses: crazy-max/ghaction-docker-buildx@v1
            with:
                version: latest
        -
            name: Build dockerfile (with push)
            run: |
                docker buildx build \
                --platform linux/amd64,linux/arm64 \
                --output "type=image,push=true" \
                --file ./Dockerfile . \
                --tag ghcr.io/$(echo "${{ github.repository }}" | tr '[:upper:]' '[:lower:]'):latest
